* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

.controller {
  padding: 30px 2%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.38);
}

.txt-center {
  text-align: center;
}

.mt-2 {
  margin-top: 10%;
}

.mt-4 {
  margin-top: 14%;
}

.mt-6 {
  margin-top: 20%;
}

.code {
  font-family: monospace;
  background-color: #EEEEEE;
  display: inline-block;
  padding: 3px 10px;
  line-height: 0.9rem;
  border: 1px solid rgba(158, 158, 158, 0.13);
  color: #7d7a7a;
  line-height: 15px;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
  font-size: 13px;
}

.code2 {
  padding: 10px 15px;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(33, 150, 243, 0.16);
          box-shadow: 0px 0px 0px 4px rgba(33, 150, 243, 0.16);
  border-radius: 2px;
  border: 2px solid #2196f359;
  background-color: #fff;
}

.btn-list-container {
  display: block;
}

.btn-list {
  display: inline-block;
  width: 33.3%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1% 0%;
  padding: 10px;
  font-size: 0px;
}

@media (min-width: 550px) and (max-width: 1024px) {
  .btn-list {
    width: 50%;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 550px) {
  .btn-list {
    width: 100%;
  }
}

.btn-list > a,
.btn-list .btn-list-wrapper {
  padding: 25px 15px;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.btn-list > a:active,
.btn-list > a:hover {
  color: inherit;
}

.btn-list .btn-label {
  margin-top: 15px;
  font-family: monospace;
  font-size: 14px;
  font-weight: 500;
  color: #717171;
}

.btn-list .code {
  /* visibility: hidden; */
  margin-top: 10px;
}

.btn-list > a:focus .code {
  visibility: visible;
}

/*
* Base
*/
a {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header {
  z-index: 99;
  position: fixed;
}

.profile-wrapper {
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-pic {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: -90px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.39);
}

.profile-name {
  padding-top: 70px;
  color: #696969;
}

.profile-title, .theme-txt {
  color: #696969;
}

.skill {
  list-style: none;
  display: block;
  text-align: center;
}

.project {
  overflow: auto;
}

.skill li {
  display: inline-block;
  margin: 10px;
  width: 170px;
}

.skill li .skill-img {
  height: 120px;
  width: 100%;
}

.skill li .skill-img,
.project li .project-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
}

.project li .project-img {
  width: 100%;
  height: 140px;
}

.project li {
  width: 240px;
  padding: 10px;
}

.project li .project-img {
  background-size: 100%;
  width: 220px;
  height: 150px;
  background-image: url(./../img/project/cube.png);
}

.project li .project-img.no-img {
  background-size: 50%;
}

.skill-options,
.project-options {
  padding: 10px;
}

.skill-name,
.project-name {
  padding: 10px;
}

.project-summary {
  position: relative;
  font-size: 12px;
  top: -5px;
}

.skill-rating {
  padding-top: 10px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.skill-rating .rating {
  display: inline-block;
  background-image: url(./../img/rating.png);
  background-position: center;
  background-size: cover;
  margin: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #fff;
}

.skill-rating .rating.active {
  display: inline-block;
  background-image: url(./../img/rating-active.png);
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.chat-head {
  /* border-bottom: 3px solid rgba(76, 76, 76, 0.23921568627450981); */
  z-index: 999;
  position: relative;
}

.chat {
  border-top-right-radius: 2px;
  overflow: hidden;
  border-top-left-radius: 2px;
}

.chat-main-container {
  transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  height: 306px;
  overflow: hidden;
}

.chat-main-container textarea {
  /* overflow: hidden; */
}

.chat-minimize {
  height: 0px;
}

@media (max-width: 480px) {
  .skill li {
    width: 46%;
    margin: 5px;
  }
  .header .cli-mode-btn {
    display: none;
  }
}

/*
* Ragasave
*/
/*# sourceMappingURL=main.css.map */