$prefix : x\:;

$indigo: #6610f2;
$dark: #343a40;
$blue : rgba(1, 108, 244,1);
$red : rgba(255, 17, 0,1);
$green : rgba(2, 154, 71, 1);
$orange : rgba(255, 90, 38, 1);
$yellow : rgba(255, 190, 0,1);
$white : rgba(255, 255, 255,1);
$lightgrey : #dcdcdc;
$lightblue : rgb(100, 149, 237);
$default : rgba(144, 164, 174, 1 );
$grey : rgb(105, 105, 105);
$darkblue : rgb(72, 61, 139);
$crimson : rgb(237, 20, 61);
$dark : #000;
$pink : rgb(255, 20, 147);
$darkgreen : rgba(95, 125, 139,1);
$lighten-percentage: 5%;
$darken-precentage: 20%;

$colors : ( 
  "indigo": #6610f2, 
  "dark": #343a40, 
  "blue" : rgba(1, 108, 244,1), 
  "red" : rgba(255, 17, 0,1), 
  "green" : rgba(2, 154, 71, 1), 
  "orange" : rgba(255, 90, 38, 1), 
  "yellow" : rgba(255, 190, 0,1), 
  "lightgrey" : #dcdcdc, 
  "lightblue" : rgb(100, 149, 237), 
  "default" : rgba(144, 164, 174, 1 ), 
  "grey" : rgb(105, 105, 105), 
  "darkblue" : rgb(72, 61, 139), 
  "crimson" : rgb(237, 20, 61),
  // "dark" : #000000, 
  "pink" : rgb(255, 20, 147)
);

.#{$prefix}btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.175rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.140rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.#{$prefix}btn:hover {
    text-decoration: none;
  }
  
  .#{$prefix}btn:focus, .#{$prefix}btn.focus {
    outline: 0;
  }
  
  .#{$prefix}btn.disabled, .#{$prefix}btn:disabled {
    opacity: 0.4;
  }
  
  .#{$prefix}btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  a.#{$prefix}btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }

  .#{$prefix}btn{
    &.#{$prefix}ef\:pull,
    &.#{$prefix}ef\:lg-pull,
    &.#{$prefix}ef\:push:active,
    &.#{$prefix}sd\:none,
    &.#{$prefix}ef\:lg-push:active{
      box-shadow:none;
    }
  
    &.#{$prefix}ef\:pull:active,
    &.#{$prefix}sd,
    &.#{$prefix}ef\:push{
      box-shadow: rgba(0, 0, 0, 0.43) 0px 2px 5px 0px;
    }
  
    &.#{$prefix}ef\:lg-push,
    &.#{$prefix}sd\:lg,
    &.#{$prefix}ef\:lg-pull:active{
      box-shadow: rgba(0, 0, 0, 0.43) 0px 12px 19px -3px;
    }
    
    &.#{$prefix}sd\:none{
      box-shadow:none;
    }
  
    
  }
  .#{$prefix}btn.#{$prefix}rounded{
    border-radius: 0.25rem;
  }


@each $name, $color in $colors {
  /**
   *btn $color
   *
  * */


  .#{$prefix}btn {
    &.#{$prefix}bg\:#{$name}{
      color : $white;
      background-color: $color;
  
      &.#{$prefix}ef\:glow:active{
        background-color : darken($color, 12);
        box-shadow: 0px 12px 19px -3px darken($color, 7);
      }
    }
  
  
      &.#{$prefix}txt\:#{$name}{
        color : $color;
        background-color: $white;
      }
  
      &.#{$prefix}txt\:#{$name}.#{$prefix}outline{
        border-color : darken($color, 10);
        border-width: 1px;
        border-style: solid;
      }
  
      &.#{$prefix}txt\:#{$name}.#{$prefix}ef\:glow:active,
      &.#{$prefix}bg\:#{$name}.#{$prefix}ef\:glow:active{
        box-shadow: 0 0 0 0.2rem transparentize($color, 0.675), inset 0 0 0.1rem transparentize(darken($color, 50), .5);
      }
  
      &.#{$prefix}bg\:#{$name}.#{$prefix}ef\:shady:active,
      &.#{$prefix}txt\:#{$name}.#{$prefix}ef\:shady:active{
        background-color : darken($color, 12);
        box-shadow: 0px 12px 19px -3px darken($color, 7);
        color: $white;
      }
  
      &.#{$prefix}txt\:#{$name}.#{$prefix}ef\:shady:active{
        background-color : darken($color, 12);
        box-shadow: 0px 12px 19px -3px darken($color, 7);
        color: $white;
      }
  }
  
}
