.x\:btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.175rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.140rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.x\:btn:hover {
  text-decoration: none;
}

.x\:btn:focus, .x\:btn.focus {
  outline: 0;
}

.x\:btn.disabled, .x\:btn:disabled {
  opacity: 0.4;
}

.x\:btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.x\:btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.x\:btn.x\:ef\:pull, .x\:btn.x\:ef\:lg-pull, .x\:btn.x\:ef\:push:active, .x\:btn.x\:sd\:none, .x\:btn.x\:ef\:lg-push:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.x\:btn.x\:ef\:pull:active, .x\:btn.x\:sd, .x\:btn.x\:ef\:push {
  -webkit-box-shadow: rgba(0, 0, 0, 0.43) 0px 2px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.43) 0px 2px 5px 0px;
}

.x\:btn.x\:ef\:lg-push, .x\:btn.x\:sd\:lg, .x\:btn.x\:ef\:lg-pull:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.43) 0px 12px 19px -3px;
          box-shadow: rgba(0, 0, 0, 0.43) 0px 12px 19px -3px;
}

.x\:btn.x\:sd\:none {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.x\:btn.x\:rounded {
  border-radius: 0.25rem;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:indigo {
  color: white;
  background-color: #6610f2;
}

.x\:btn.x\:bg\:indigo.x\:ef\:glow:active {
  background-color: #4d0abb;
  -webkit-box-shadow: 0px 12px 19px -3px #570bd3;
          box-shadow: 0px 12px 19px -3px #570bd3;
}

.x\:btn.x\:txt\:indigo {
  color: #6610f2;
  background-color: white;
}

.x\:btn.x\:txt\:indigo.x\:outline {
  border-color: #510bc4;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:indigo.x\:ef\:glow:active, .x\:btn.x\:bg\:indigo.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.325), inset 0 0 0.1rem rgba(1, 0, 3, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.325), inset 0 0 0.1rem rgba(1, 0, 3, 0.5);
}

.x\:btn.x\:bg\:indigo.x\:ef\:shady:active, .x\:btn.x\:txt\:indigo.x\:ef\:shady:active {
  background-color: #4d0abb;
  -webkit-box-shadow: 0px 12px 19px -3px #570bd3;
          box-shadow: 0px 12px 19px -3px #570bd3;
  color: white;
}

.x\:btn.x\:txt\:indigo.x\:ef\:shady:active {
  background-color: #4d0abb;
  -webkit-box-shadow: 0px 12px 19px -3px #570bd3;
          box-shadow: 0px 12px 19px -3px #570bd3;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:dark {
  color: white;
  background-color: #343a40;
}

.x\:btn.x\:bg\:dark.x\:ef\:glow:active {
  background-color: #191b1e;
  -webkit-box-shadow: 0px 12px 19px -3px #24282c;
          box-shadow: 0px 12px 19px -3px #24282c;
}

.x\:btn.x\:txt\:dark {
  color: #343a40;
  background-color: white;
}

.x\:btn.x\:txt\:dark.x\:outline {
  border-color: #1d2124;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:dark.x\:ef\:glow:active, .x\:btn.x\:bg\:dark.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.x\:btn.x\:bg\:dark.x\:ef\:shady:active, .x\:btn.x\:txt\:dark.x\:ef\:shady:active {
  background-color: #191b1e;
  -webkit-box-shadow: 0px 12px 19px -3px #24282c;
          box-shadow: 0px 12px 19px -3px #24282c;
  color: white;
}

.x\:btn.x\:txt\:dark.x\:ef\:shady:active {
  background-color: #191b1e;
  -webkit-box-shadow: 0px 12px 19px -3px #24282c;
          box-shadow: 0px 12px 19px -3px #24282c;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:blue {
  color: white;
  background-color: #016cf4;
}

.x\:btn.x\:bg\:blue.x\:ef\:glow:active {
  background-color: #0151b7;
  -webkit-box-shadow: 0px 12px 19px -3px #015cd0;
          box-shadow: 0px 12px 19px -3px #015cd0;
}

.x\:btn.x\:txt\:blue {
  color: #016cf4;
  background-color: white;
}

.x\:btn.x\:txt\:blue.x\:outline {
  border-color: #0156c1;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:blue.x\:ef\:glow:active, .x\:btn.x\:bg\:blue.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(1, 108, 244, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(1, 108, 244, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.x\:btn.x\:bg\:blue.x\:ef\:shady:active, .x\:btn.x\:txt\:blue.x\:ef\:shady:active {
  background-color: #0151b7;
  -webkit-box-shadow: 0px 12px 19px -3px #015cd0;
          box-shadow: 0px 12px 19px -3px #015cd0;
  color: white;
}

.x\:btn.x\:txt\:blue.x\:ef\:shady:active {
  background-color: #0151b7;
  -webkit-box-shadow: 0px 12px 19px -3px #015cd0;
          box-shadow: 0px 12px 19px -3px #015cd0;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:red {
  color: white;
  background-color: #ff1100;
}

.x\:btn.x\:bg\:red.x\:ef\:glow:active {
  background-color: #c20d00;
  -webkit-box-shadow: 0px 12px 19px -3px #db0f00;
          box-shadow: 0px 12px 19px -3px #db0f00;
}

.x\:btn.x\:txt\:red {
  color: #ff1100;
  background-color: white;
}

.x\:btn.x\:txt\:red.x\:outline {
  border-color: #cc0e00;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:red.x\:ef\:glow:active, .x\:btn.x\:bg\:red.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 17, 0, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 17, 0, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.x\:btn.x\:bg\:red.x\:ef\:shady:active, .x\:btn.x\:txt\:red.x\:ef\:shady:active {
  background-color: #c20d00;
  -webkit-box-shadow: 0px 12px 19px -3px #db0f00;
          box-shadow: 0px 12px 19px -3px #db0f00;
  color: white;
}

.x\:btn.x\:txt\:red.x\:ef\:shady:active {
  background-color: #c20d00;
  -webkit-box-shadow: 0px 12px 19px -3px #db0f00;
          box-shadow: 0px 12px 19px -3px #db0f00;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:green {
  color: white;
  background-color: #029a47;
}

.x\:btn.x\:bg\:green.x\:ef\:glow:active {
  background-color: #015e2b;
  -webkit-box-shadow: 0px 12px 19px -3px #027737;
          box-shadow: 0px 12px 19px -3px #027737;
}

.x\:btn.x\:txt\:green {
  color: #029a47;
  background-color: white;
}

.x\:btn.x\:txt\:green.x\:outline {
  border-color: #016830;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:green.x\:ef\:glow:active, .x\:btn.x\:bg\:green.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(2, 154, 71, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(2, 154, 71, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.x\:btn.x\:bg\:green.x\:ef\:shady:active, .x\:btn.x\:txt\:green.x\:ef\:shady:active {
  background-color: #015e2b;
  -webkit-box-shadow: 0px 12px 19px -3px #027737;
          box-shadow: 0px 12px 19px -3px #027737;
  color: white;
}

.x\:btn.x\:txt\:green.x\:ef\:shady:active {
  background-color: #015e2b;
  -webkit-box-shadow: 0px 12px 19px -3px #027737;
          box-shadow: 0px 12px 19px -3px #027737;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:orange {
  color: white;
  background-color: #ff5a26;
}

.x\:btn.x\:bg\:orange.x\:ef\:glow:active {
  background-color: #e83800;
  -webkit-box-shadow: 0px 12px 19px -3px #ff3f02;
          box-shadow: 0px 12px 19px -3px #ff3f02;
}

.x\:btn.x\:txt\:orange {
  color: #ff5a26;
  background-color: white;
}

.x\:btn.x\:txt\:orange.x\:outline {
  border-color: #f23a00;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:orange.x\:ef\:glow:active, .x\:btn.x\:bg\:orange.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 90, 38, 0.325), inset 0 0 0.1rem rgba(38, 9, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 90, 38, 0.325), inset 0 0 0.1rem rgba(38, 9, 0, 0.5);
}

.x\:btn.x\:bg\:orange.x\:ef\:shady:active, .x\:btn.x\:txt\:orange.x\:ef\:shady:active {
  background-color: #e83800;
  -webkit-box-shadow: 0px 12px 19px -3px #ff3f02;
          box-shadow: 0px 12px 19px -3px #ff3f02;
  color: white;
}

.x\:btn.x\:txt\:orange.x\:ef\:shady:active {
  background-color: #e83800;
  -webkit-box-shadow: 0px 12px 19px -3px #ff3f02;
          box-shadow: 0px 12px 19px -3px #ff3f02;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:yellow {
  color: white;
  background-color: #ffbe00;
}

.x\:btn.x\:bg\:yellow.x\:ef\:glow:active {
  background-color: #c29000;
  -webkit-box-shadow: 0px 12px 19px -3px #dba300;
          box-shadow: 0px 12px 19px -3px #dba300;
}

.x\:btn.x\:txt\:yellow {
  color: #ffbe00;
  background-color: white;
}

.x\:btn.x\:txt\:yellow.x\:outline {
  border-color: #cc9800;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:yellow.x\:ef\:glow:active, .x\:btn.x\:bg\:yellow.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 190, 0, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 190, 0, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.x\:btn.x\:bg\:yellow.x\:ef\:shady:active, .x\:btn.x\:txt\:yellow.x\:ef\:shady:active {
  background-color: #c29000;
  -webkit-box-shadow: 0px 12px 19px -3px #dba300;
          box-shadow: 0px 12px 19px -3px #dba300;
  color: white;
}

.x\:btn.x\:txt\:yellow.x\:ef\:shady:active {
  background-color: #c29000;
  -webkit-box-shadow: 0px 12px 19px -3px #dba300;
          box-shadow: 0px 12px 19px -3px #dba300;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:lightgrey {
  color: white;
  background-color: #dcdcdc;
}

.x\:btn.x\:bg\:lightgrey.x\:ef\:glow:active {
  background-color: #bdbdbd;
  -webkit-box-shadow: 0px 12px 19px -3px #cacaca;
          box-shadow: 0px 12px 19px -3px #cacaca;
}

.x\:btn.x\:txt\:lightgrey {
  color: #dcdcdc;
  background-color: white;
}

.x\:btn.x\:txt\:lightgrey.x\:outline {
  border-color: #c3c3c3;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:lightgrey.x\:ef\:glow:active, .x\:btn.x\:bg\:lightgrey.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 220, 220, 0.325), inset 0 0 0.1rem rgba(93, 93, 93, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(220, 220, 220, 0.325), inset 0 0 0.1rem rgba(93, 93, 93, 0.5);
}

.x\:btn.x\:bg\:lightgrey.x\:ef\:shady:active, .x\:btn.x\:txt\:lightgrey.x\:ef\:shady:active {
  background-color: #bdbdbd;
  -webkit-box-shadow: 0px 12px 19px -3px #cacaca;
          box-shadow: 0px 12px 19px -3px #cacaca;
  color: white;
}

.x\:btn.x\:txt\:lightgrey.x\:ef\:shady:active {
  background-color: #bdbdbd;
  -webkit-box-shadow: 0px 12px 19px -3px #cacaca;
          box-shadow: 0px 12px 19px -3px #cacaca;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:lightblue {
  color: white;
  background-color: cornflowerblue;
}

.x\:btn.x\:bg\:lightblue.x\:ef\:glow:active {
  background-color: #2d70e7;
  -webkit-box-shadow: 0px 12px 19px -3px #447fe9;
          box-shadow: 0px 12px 19px -3px #447fe9;
}

.x\:btn.x\:txt\:lightblue {
  color: cornflowerblue;
  background-color: white;
}

.x\:btn.x\:txt\:lightblue.x\:outline {
  border-color: #3676e8;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:lightblue.x\:ef\:glow:active, .x\:btn.x\:bg\:lightblue.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(100, 149, 237, 0.325), inset 0 0 0.1rem rgba(9, 32, 73, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(100, 149, 237, 0.325), inset 0 0 0.1rem rgba(9, 32, 73, 0.5);
}

.x\:btn.x\:bg\:lightblue.x\:ef\:shady:active, .x\:btn.x\:txt\:lightblue.x\:ef\:shady:active {
  background-color: #2d70e7;
  -webkit-box-shadow: 0px 12px 19px -3px #447fe9;
          box-shadow: 0px 12px 19px -3px #447fe9;
  color: white;
}

.x\:btn.x\:txt\:lightblue.x\:ef\:shady:active {
  background-color: #2d70e7;
  -webkit-box-shadow: 0px 12px 19px -3px #447fe9;
          box-shadow: 0px 12px 19px -3px #447fe9;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:default {
  color: white;
  background-color: #90a4ae;
}

.x\:btn.x\:bg\:default.x\:ef\:glow:active {
  background-color: #6d8794;
  -webkit-box-shadow: 0px 12px 19px -3px #7b939f;
          box-shadow: 0px 12px 19px -3px #7b939f;
}

.x\:btn.x\:txt\:default {
  color: #90a4ae;
  background-color: white;
}

.x\:btn.x\:txt\:default.x\:outline {
  border-color: #738c98;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:default.x\:ef\:glow:active, .x\:btn.x\:bg\:default.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(144, 164, 174, 0.325), inset 0 0 0.1rem rgba(27, 33, 36, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(144, 164, 174, 0.325), inset 0 0 0.1rem rgba(27, 33, 36, 0.5);
}

.x\:btn.x\:bg\:default.x\:ef\:shady:active, .x\:btn.x\:txt\:default.x\:ef\:shady:active {
  background-color: #6d8794;
  -webkit-box-shadow: 0px 12px 19px -3px #7b939f;
          box-shadow: 0px 12px 19px -3px #7b939f;
  color: white;
}

.x\:btn.x\:txt\:default.x\:ef\:shady:active {
  background-color: #6d8794;
  -webkit-box-shadow: 0px 12px 19px -3px #7b939f;
          box-shadow: 0px 12px 19px -3px #7b939f;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:grey {
  color: white;
  background-color: dimgray;
}

.x\:btn.x\:bg\:grey.x\:ef\:glow:active {
  background-color: #4a4a4a;
  -webkit-box-shadow: 0px 12px 19px -3px #575757;
          box-shadow: 0px 12px 19px -3px #575757;
}

.x\:btn.x\:txt\:grey {
  color: dimgray;
  background-color: white;
}

.x\:btn.x\:txt\:grey.x\:outline {
  border-color: #505050;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:grey.x\:ef\:glow:active, .x\:btn.x\:bg\:grey.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 105, 105, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(105, 105, 105, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.x\:btn.x\:bg\:grey.x\:ef\:shady:active, .x\:btn.x\:txt\:grey.x\:ef\:shady:active {
  background-color: #4a4a4a;
  -webkit-box-shadow: 0px 12px 19px -3px #575757;
          box-shadow: 0px 12px 19px -3px #575757;
  color: white;
}

.x\:btn.x\:txt\:grey.x\:ef\:shady:active {
  background-color: #4a4a4a;
  -webkit-box-shadow: 0px 12px 19px -3px #575757;
          box-shadow: 0px 12px 19px -3px #575757;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:darkblue {
  color: white;
  background-color: darkslateblue;
}

.x\:btn.x\:bg\:darkblue.x\:ef\:glow:active {
  background-color: #322a60;
  -webkit-box-shadow: 0px 12px 19px -3px #3b3272;
          box-shadow: 0px 12px 19px -3px #3b3272;
}

.x\:btn.x\:txt\:darkblue {
  color: darkslateblue;
  background-color: white;
}

.x\:btn.x\:txt\:darkblue.x\:outline {
  border-color: #362d68;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:darkblue.x\:ef\:glow:active, .x\:btn.x\:bg\:darkblue.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 61, 139, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(72, 61, 139, 0.325), inset 0 0 0.1rem rgba(0, 0, 0, 0.5);
}

.x\:btn.x\:bg\:darkblue.x\:ef\:shady:active, .x\:btn.x\:txt\:darkblue.x\:ef\:shady:active {
  background-color: #322a60;
  -webkit-box-shadow: 0px 12px 19px -3px #3b3272;
          box-shadow: 0px 12px 19px -3px #3b3272;
  color: white;
}

.x\:btn.x\:txt\:darkblue.x\:ef\:shady:active {
  background-color: #322a60;
  -webkit-box-shadow: 0px 12px 19px -3px #3b3272;
          box-shadow: 0px 12px 19px -3px #3b3272;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:crimson {
  color: white;
  background-color: #ed143d;
}

.x\:btn.x\:bg\:crimson.x\:ef\:glow:active {
  background-color: #b60e2e;
  -webkit-box-shadow: 0px 12px 19px -3px #ce1034;
          box-shadow: 0px 12px 19px -3px #ce1034;
}

.x\:btn.x\:txt\:crimson {
  color: #ed143d;
  background-color: white;
}

.x\:btn.x\:txt\:crimson.x\:outline {
  border-color: #bf0f30;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:crimson.x\:ef\:glow:active, .x\:btn.x\:bg\:crimson.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 20, 61, 0.325), inset 0 0 0.1rem rgba(2, 0, 0, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(237, 20, 61, 0.325), inset 0 0 0.1rem rgba(2, 0, 0, 0.5);
}

.x\:btn.x\:bg\:crimson.x\:ef\:shady:active, .x\:btn.x\:txt\:crimson.x\:ef\:shady:active {
  background-color: #b60e2e;
  -webkit-box-shadow: 0px 12px 19px -3px #ce1034;
          box-shadow: 0px 12px 19px -3px #ce1034;
  color: white;
}

.x\:btn.x\:txt\:crimson.x\:ef\:shady:active {
  background-color: #b60e2e;
  -webkit-box-shadow: 0px 12px 19px -3px #ce1034;
          box-shadow: 0px 12px 19px -3px #ce1034;
  color: white;
}

/**
   *btn $color
   *
  * */
.x\:btn.x\:bg\:pink {
  color: white;
  background-color: deeppink;
}

.x\:btn.x\:bg\:pink.x\:ef\:glow:active {
  background-color: #d60074;
  -webkit-box-shadow: 0px 12px 19px -3px #ef0081;
          box-shadow: 0px 12px 19px -3px #ef0081;
}

.x\:btn.x\:txt\:pink {
  color: deeppink;
  background-color: white;
}

.x\:btn.x\:txt\:pink.x\:outline {
  border-color: #e00079;
  border-width: 1px;
  border-style: solid;
}

.x\:btn.x\:txt\:pink.x\:ef\:glow:active, .x\:btn.x\:bg\:pink.x\:ef\:glow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 20, 147, 0.325), inset 0 0 0.1rem rgba(20, 0, 11, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(255, 20, 147, 0.325), inset 0 0 0.1rem rgba(20, 0, 11, 0.5);
}

.x\:btn.x\:bg\:pink.x\:ef\:shady:active, .x\:btn.x\:txt\:pink.x\:ef\:shady:active {
  background-color: #d60074;
  -webkit-box-shadow: 0px 12px 19px -3px #ef0081;
          box-shadow: 0px 12px 19px -3px #ef0081;
  color: white;
}

.x\:btn.x\:txt\:pink.x\:ef\:shady:active {
  background-color: #d60074;
  -webkit-box-shadow: 0px 12px 19px -3px #ef0081;
          box-shadow: 0px 12px 19px -3px #ef0081;
  color: white;
}
/*# sourceMappingURL=style.css.map */